<div class="card">
  <div class="card-header bg-success">
    <h3>Beers On Tap</h3>
  </div>
  <div class="card-body">
    <div class="card" *ngFor="let currentBeer of beer">
      <div class="card-header bg-danger">
        <div class="row">
          <div class="col-sm-6">
            <h4>{{currentBeer.name}}</h4>
          </div>
          <div class="col-sm-6">
            <h5>ABV: {{currentBeer.abv}}%</h5><br>
            <h5>IBU: {{currentBeer.ibu}}</h5>
          </div>
        </div>
      </div>
      <div class="card-body card-text">
        <div class="row">
          <div class="col-sm-6">
            <h6>{{currentBeer.brewery}}</h6>
          </div>
          <div class="col-sm-6">
            <svg height="100" width="30">
              <polygon name="keg" points="0,0 30,0 30,100 0,100" fill="#535a66"/>
              <polygon name="fill" points="5,5 25,5 25,95 5,95" fill="#00FF00"/>
            </svg>
          </div>
        </div>
      </div>
    </div><!--end of beer card-->
  </div>
</div>
